@media (max-width: 640px) {
    .header1{
        display: block;  
        width: 550px;
        justify-content: center;
        height: 150px;
    }  
    .logo{
        margin-right: 360px;
        margin-left: 40px;
    }
    .signin{
        width: 200px;
        height: 30px;
    }
    .signup{
        width: 200px;
        }
    .div1{width: 0px;        }
    .main-content{
        height: 700px;
        background-image: url("../img/logo1.jpg");
        background-size: 100%;   
        display: block;
        text-align: center;
       }
    .link_{
        font-size: 14px;
        margin-left: 200px;
    }
    .article-container{
        padding-top: 20px;
    }
   
    .main-nav{
        margin-right: 400px;
        margin-left: 5px;
        width: 50px;
        padding: 10px 5px;
    }
} 
@media (max-width: 420px){
    .header1{
        display: block;  
        width:330px;
        text-align: center;
        height: 150px;
        padding-right: 100px;
    }  
    .signin{
        width: 200px;
        height: 30px;
    }
    .signup{
        width: 100px;
        }
    .div1{width: 0px;        }
    .main-content{
        height: 900px;
        background-image: url("../img/logo1.jpg");
        background-size: 100%;
        background-repeat: no-repeat;   
        display: block;
        text-align: center;
       }
    .link_{
        font-size: 14px;
        margin-left: 200px;
    }
    .article-container{
        padding-top: 20px;
    }
} 
}